body {
	background-image:url('gradient.jpg');
	background-size: 110%;
}

#order{
	float:right;
	margin-right: 1%;
	width:auto;
	border-style:solid;
	border-width:medium;
	border-color: pink;
}

main{
	width:75%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	
}

main div{
	border-style:solid;
	border-width:medium;
	border-color: pink;
	overflow: auto;
	overflow-y: hidden;
	margin-bottom: 1%;
}

h3{
	margin-top: 3px;
	padding-left: 5px;
}
aside{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 1%;
	height:auto;
	width: 10%;
	overflow: auto;
	border-style:solid;
	border-width:medium;
	border-color: pink;
}

.buttonCenter{
	margin: 0 auto;
	display: block;
}

#stepper{
	float:right;
}
#update{
	float:right;
}

.selected{
	background-color: yellow;
}