body {
	background-image:url('gradient.jpg');
	background-size: 110%;
}


.login {
    margin-right:.5em;
	float:right;
	padding-top:0em;
}

#email {
    padding-bottom:0em;
	margin-left: 3em;
}

#password {
	padding-bottom:0em;
	margin-left: 1em;
}

#login_button {
	float:right;
}

#createAccount{
	float:right;
	margin-top: 5%;
	margin-right:-3%;
}


hr {
	position: relative;
	height:3px;
	color:#000;
	background-color:#000;
	width:83%;
	border:0;
	margin-left:.1em;
}




#logo {
	width:100%;
	height:80%;
	padding-right:0em;
}

#description {
	float:left;
	padding-left:5em;
	margin-top: 5%;
}

.info{

}
.center {
	margin: 0 auto;
	display: block;
}


