body {
	background-image:url('gradient.jpg');
	background-size: 200%;
}

#order{
	float:right;
	margin-right: 1%;
	width:auto;
	border-style:solid;
	border-width:medium;
	border-color: pink;
}

main{
	width:60%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	
}



main > div{
	height: 100%;
	border-style:solid;
	border-width:medium;
	border-color: pink;
	margin-bottom: 1%;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space:nowrap;
}

main div div{
	border:none;
	padding:10px;
	padding-bottom:0px;
	text-align: justify;
	overflow-x:hidden;
	width: 107px;
	display:inline-table;
}

main div img, main div canvas{
	width:107px;
 	display: block;
	margin: 0 auto;
	padding-bottom:0px;
}

main div p{
	text-align: center;
	white-space:normal;
	padding:0px;
}

#toppings{
	overflow-x:hidden;
	white-space:normal;
	display:table;
}


h3{
	margin-top: 3px;
	padding-left: 5px;
}
aside{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 1%;
	height:auto;
	width: 10%;
	overflow: auto;
	border-style:solid;
	border-width:medium;
	border-color: pink;
}

.buttonCenter{
	margin: 0 auto;
	display: block;
}

#stepper{
	float:right;
}
#update{
	float:right;
}

.selected{
	background-color: pink;
}