body {
	background-image:url('gradient.jpg');
	background-size: 110%;
}


.login {
    margin-right:1em;
	float:right;
	padding-top:0em;
}

#email {
    padding-bottom:0em;
	margin-left: 3.3em;
}

#password {
	padding-bottom:0em;
	margin-left: 1em;
}

#login_button {
	float:right;
}

#createAccount{
	float:right;
	margin-top: 5%;
	margin-right:-3%;
}


hr {
	position: relative;
	height:3px;
	color:#000;
	background-color:#000;
	width:83%;
	border:0;
	margin-left:.1em;
}

.info {
	position:relative;
	padding-bottom:0;
}

#fname {
	margin-left:7.7em;
}

#lname {
	margin-left:7.9em;
}

#email_signup {
	margin-left:11em;
}

#password_signup {
	margin-left: 8.6em;
}

#phone {
	margin-left:2.6em;
}

#address {
	margin-left:9.55em;
}

#city {
	margin-left:12em;
}

#state {
	margin-left:18.2em;
}

#logo {
	width:100%;
	height:80%;
	padding-right:0em;
}

#description {
	float:left;
	padding-left:5em;
	margin-top: 5%;
}

#zip {
	margin-left:9.6em;
}
.center {
	margin: 0 auto;
	display: block;

}


